*.o
.deps
duplicate_encoder
exes_and_ohs
findnextsquare
is_square
middle_char
mult_table
sum_of_numbers
which_are_in
bit_counting
greed_is_good
Makefile.am
valid_braces
valid_parentheses
valid_parentheses.c
sum_of_digits_digital_root
ten_minute_walk
same_arrays
tribonacci
findOdd
decomp
enoughisenough
likes
multiplication_table
tickets
sum_of_fractions
proper_fractions
sum_of_fractions
two_sum
