*.o
.deps
duplicate_encoder
exes_and_ohs
findnextsquare
is_square
middle_char
mult_table
sum_of_numbers
which_are_in
bit_counting
greed_is_good
Makefile.am
valid_braces
valid_parentheses
valid_parentheses.c
